services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    container_name: rapidtalk-server-dev
    volumes:
      - ./Package.swift:/app/Package.swift
      - ./Sources:/app/Sources
      - ./Tests:/app/Tests
    environment:
      - APP_ENV=development
    # Optional: For even faster reloads, skip building tests
    command: swiftwatch run --skip-build-tests
    
#   app-prod:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     ports:
#       - "8081:8080"
#     container_name: rapidtalk-server-prod
#     environment:
#       - APP_ENV=production